<nav
  class="flex items-center justify-between bg-gray-500 h-16 m-0 shadow-md shadow-black text-neutral-200"
>
  <div class="flex items-center mx-8">
    <span><a class="text-3xl" href="/">Banking System</a></span>
    {% if request.user.is_authenticated %}
    <div class="flex mx-6 space-x-6 text-xl">
      <a href="{% url "transaction_report" %}">Report</a>
      <a href="{% url "deposit_money" %}">Deposit</a>
      <a href="{% url "withdraw_money" %}">Withdraw</a>
      <a href="{% url "loan_request" %}">Loan Request</a>
      <a href="{% url "transfer" %}">Balance Transfer</a>
    </div>
  </div>
  <div class="flex items-center mx-12 space-x-4 text-xl">
    <div class="text-[15px] my-auto px-5">
      Welcome, {{ request.user.first_name }} (balance :
      {{request.user.account.balance}})
    </div>
    <a href="{% url "Profile" %}">Profile</a>
    <a href="{% url "logout" %}">Logout</a>
  </div>
  {% else %}
</div>
  <div class="flex items-center mx-12 space-x-4 text-xl">
    <a href="{% url "registation" %}">Register</a>
    <a href="{% url "login" %}">Login</a>
  </div>
  {% endif %}
</nav>
